<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sds_guesthouse.model.dao.GuestDao">

    <select id="countByUserId" resultType="int">
        SELECT COUNT(*)
        FROM guests
        WHERE user_id = #{userId}
    </select>

    <insert id="insertGuest">
        INSERT INTO guests (user_id, password, name, phone)
        VALUES (#{userId}, #{password}, #{name}, #{phone})
    </insert>

    <select id="getGuestByUserId"
            resultType="com.sds_guesthouse.model.entity.Guest">
        SELECT
            guest_id   AS guestId,
            user_id    AS userId,
            password,
            name,
            phone,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM guests
        WHERE user_id = #{userId}
    </select>

</mapper>