<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sds_guesthouse.model.dao.ReservationMapper">
    <select id="findReservations" resultType="com.sds_guesthouse.model.entity.Reservation">
        SELECT
            reservation_id AS reservationId,
            guest_id AS guestId,
            house_id AS houseId,
            status,
            checkin_date AS checkinDate,
            checkout_date AS checkoutDate,
            total_price AS totalPrice,
            created_at AS createdAt,
            updated_at AS updatedAt
        FROM reservations
        WHERE 1=1
	    <if test="status != null">
	        AND status = #{status}
	    </if>	
	    <if test="date != null and date != ''">
	        AND #{date} BETWEEN checkin_date AND checkout_date
	    </if>
    </select>
</mapper>